### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin
.idea/
*.iml

### Angular ###
/node_modules
/dist
/tmp
/out-tsc
/out-tsc-e2e
/.angular/cache
/.angular/cli.json
/.angular.json
/.editorconfig
/.eslintignore
/.eslintrc
/.prettierignore
/.prettierrc
/.stylelintrc
/.vscode
